body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #fff;
}

.logo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Optional: Make it circular */
}

h1 {
    color: #fff;
    margin: 20px 0;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: rgba(81, 81, 81, 0.8);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

th, td {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #333;
}

th {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

td {
    text-align: center;
}

tr.men {
    background-color: rgba(76, 76, 76, 0.7);
}

tr.women {
    background-color: rgba(211, 211, 211, 0.7);
}

/* Responsive Styles */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }

    th, td {
        padding: 6px;
        font-size: 12px;
    }

    table {
        width: 100%;
        font-size: 12px;
    }
}


